 <h1>MINIPROYECTOS</h1>
<!--<app-main-page></app-main-page>-->
<div  fxLayout="row" fxLayoutAlign="space-evenly stretch" 
      fxLayout.xs="column" fxLayout.sm="column">
<mat-card  >
    <mat-card-header> Toca el piano </mat-card-header>
    <mat-card-content>
        <img src="../assets/img/ImgEstilo/piano.jpg" class="card-img-top" alt="...">
    </mat-card-content>
    <button mat-raised-button color="primary">Ingresar</button><!--  [routerLink]="'piano'"  -->
</mat-card>

<mat-card >
    <mat-card-header> Toca el piano </mat-card-header>
    <mat-card-content>
        <img src="../assets/img/ImgEstilo/piano.jpg" class="card-img-top" alt="...">
    </mat-card-content>
    <button mat-raised-button color="primary">Ingresar</button><!--  [routerLink]="'piano'"  -->
</mat-card>

<mat-card >
    <mat-card-header> Toca el piano </mat-card-header>
    <mat-card-content>
        <img src="../assets/img/ImgEstilo/piano.jpg" class="card-img-top" alt="...">
    </mat-card-content>
    <button mat-raised-button color="primary">Ingresar</button><!--  [routerLink]="'piano'"  -->
</mat-card>

<mat-card >
    <mat-card-header> Toca el piano </mat-card-header>
    <mat-card-content>
        <img src="../assets/img/ImgEstilo/piano.jpg" class="card-img-top" alt="...">
    </mat-card-content>
    <button mat-raised-button color="primary">Ingresar</button><!--  [routerLink]="'piano'"  -->
</mat-card>
</div>

 