 
<!--<app-main-page></app-main-page>-->
<div div fxLayout="row" fxLayoutAlign="space-evenly stretch" >
<mat-card >
    <mat-card-header> Toca el piano </mat-card-header>
    <mat-card-content>
        <img src="../assets/img/ImgEstilo/piano.jpg" class="card-img-top" alt="...">
    </mat-card-content>
    <a  class="btn btn-primary">Ingresar</a> <!--  [routerLink]="'piano'"  -->
</mat-card>

<mat-card>
    <mat-card-header> Toca el piano </mat-card-header>
    <mat-card-content>
        <img src="../assets/img/ImgEstilo/piano.jpg" class="card-img-top" alt="...">
    </mat-card-content>
    <a  class="btn btn-primary">Ingresar</a> <!--  [routerLink]="'piano'"  -->
</mat-card>
</div>

 